<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Tic Tac Toe</h1>
        </div>
        
        <div class="gameset">
            <button id="martian" onclick="oneHumanPlayer()">Vs. Martians</button>
            <button id="human"onclick="twoHumanPlayer()">Vs. Humans</button><br/>
            <label >Choose who starts first</label><br/>
            <button id="firstmove" onclick="firstHumanMove_3()">Human</button>
            <button id="secondmove" onclick="firstComputerMove_3()">Alien</button><br/>
            <label >Choose the difficulty </label><br/>
            <button id="l1" onclick="chooseLevel(1)">Easy</button>
            <button id="l2" onclick="chooseLevel(2)">Medium</button>
            <button id="l3" onclick="chooseLevel(3)">Hard</button>
            <h2>Heuristics</h2>
            <button onclick="reset_board_3()">Reset Board</button>
        </div>
        
        <div class="board" >

        </div>
        <div id="winner"></div>
    </div>
    <script type="text/javascript" src="/javascripts/three.js"></script>
</body>
</html>
