<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Tic Tac Toe</h1>
        </div>
        
        <div class="gameset">
            <label>Game Mode</label><br/>
            <button class="select" id="threeboard" onclick="render_board_3()">3x3</button>
            <button id="fourboard" onclick="render_board_4()">4x4</button><br/>
            <label >Choose your opponent</label><br/>
            <button id="martian" class ="select" onclick="oneHumanPlayer()">Vs. Martians</button>
            <button id="human"onclick="twoHumanPlayer()">Vs. Humans</button><br/>
            <label >Choose first player</label><br/>
            <button id="firstmove" class ="select" onclick="firstHumanMove_3()">Human</button>
            <button id="secondmove" onclick="firstComputerMove_3()">Alien</button><br/>
            <label >Choose the difficulty </label><br/>
            <button id="l1" class="select" onclick="chooseLevel(1)">Easy</button>
            <button id="l2" onclick="chooseLevel(2)">Medium</button>
            <button id="l3" onclick="chooseLevel(3)">Hard</button>
            <h2>Heuristics</h2>
            <button id="algo1" class="select" onclick="chooseAlgo(1)">Minimax</button>
            <button id="algo2" onclick="chooseAlgo(2)">Killer</button>
            <button id="algo3" onclick="chooseAlgo(3)">R L</button><br/><br/>
            <button onclick="reset_board()">Reset Board</button>
        </div>
        
        <div id="board" class="three" >

        </div>
        <div id="winner"></div>
    </div>
    <script type="text/javascript" src="/javascripts/home.js"></script>
</body>
</html>
