<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Tic Tac Toe</h1>


        </div>
        <div class="gameset">
            <button onclick="">Vs. Aliens</button>
            <button onclick="">Vs. Humans</button>
            <h2>Heuristics</h2>
            <h2>Depth</h2>
            <button>Reset Board</button>
        </div>
        <div class="board">
            <div id="b1" class="block"></div>
            <div id="b2" class="block"></div>
            <div id="b3" class="block"></div>
            <div id="b4" class="block"></div>
            <div id="b5" class="block"></div>
            <div id="b6" class="block"></div>
            <div id="b7" class="block"></div>
            <div id="b8" class="block"></div>
            <div id="b9" class="block"></div>
        </div>
    </div>
</body>
</html>