<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Tic Tac Toe</h1>


        </div>
        <div class="gameset">
            <button onclick="">Vs. Aliens</button>
            <button onclick="">Vs. Humans</button>
            <h2>Heuristics</h2>
            <h2>Depth</h2>
            <button onclick="reset_board_3()">Reset Board</button>
        </div>
        <div class="board">
            
        </div>
        <div id="winner"></div>
    </div>
    <script type="text/javascript" src="/javascripts/three.js"></script>
</body>
</html>